*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}

html, body{
  position: relative;
  height: 100%;
  margin: 0; 
  padding: 0;
  overflow:auto;
}

.photos{
  height: 250px;
  width: 250px;
  
}

.header{
  height: 100px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}

.menu{
  float: right;
  line-height: 100px;
}
.menu a{
  z-index: 10px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content{
  padding: 0 20px;
}
.content img{
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p{
  text-align: justify;
}

.content p1{
  font-size: 150%;
  text-transform: uppercase;
  float: left;
  text-decoration-style: solid;
}

.footer{
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #333;
  color: darkcyan;
}

.footer p{
  font-size: 80%;
  padding: 0 20px;
}

.info{
  color: darkcyan;
  text-decoration: none;
}

.pinocchioArduino{
  color: #34495e;
  text-decoration: none;
}

.slidershow{
  width: 700px;
  height: 450px;
  overflow: hidden;
}

.middle{
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigator{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover{
  background: #fff;
}

.spacer{
  height: 600px;
}

input[name = "r"]{
  position: absolute;
  visibility: hidden;

}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}

.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}

.capitano{
  text-align: center;
  font-weight: bold;
  text-decoration: solid;
}

.member{
  text-align: center;
}

.overMain{
  display: flex;
  width: 1000px;
  height: 650px;
  background-image: url("indexImg4.jpeg");
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  text-align: center;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  padding: 20px;
  text-align: center;
}

.spacerLow{
  height: 20px;
}
@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .overMain{
    width: 450px;
    height: 650px;
    display: block;
  }
  .slidershow{
    z-index: 10;
    width: 450px;
    height: 350px;
  }
  .menu{
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 40px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}
